In [24]:
import pandas as pd

In [25]:
df = pd.read_csv(r"C:\Users\27797\Desktop\TP2_Test2\Informal_Settlement_Programme_-1898186875815614491.csv")

In [26]:
print(df.columns)

Index(['OBJECTID', 'NAME_OF_SE', 'ALT_NAME', 'STREETNAME', 'WARD_S',
       'PLANNING_U', 'LATITUDE', 'LONGITUDE', 'REGION', 'WATER_SUPP',
       'SANITATION', 'REFUSE', 'ELECTRIC_2', 'UNIREFCODE', 'EST_HHC',
       'NUSP_CAT', 'Shape__Area', 'Shape__Length'],
      dtype='object')

In [27]:
print(df.head())

   OBJECTID     NAME_OF_SE       ALT_NAME  \
0         1       Amatikwe
1         2  Congo Phase 2  Congo Phase 2
2         3  Africa Inanda         Africa
3         4        Namibia
4         5     Mshayazafe

                               STREETNAME  WARD_S  \
0                              MR93 North  56/108
1                        MR93 /MR93 North   55/57
2                  Curnick Ndlovu Highway      55
3  Curnick Ndlovu Highway / Matshana Road  108/44
4                            Sidudla Road      55

                      PLANNING_U           LATITUDE         LONGITUDE  \
0                       Amatikwe  -29,6847594568261  30,9331993743659
1                   Inanda Congo  -29,6930565996813  30,9524428875002
2        Ohlange-Africa / Stop 8   -29,700492743755  30,9486579023242
3                 Inanda Namibia   -29,703771886581  30,9335017254606
4  Mshayazafe / Ohlange - Africa  -29,7066784039778  30,9469610275001

     REGION                           WATER_SUPP  \
0  Northern                           Standpipes
1  Northern                           Standpipes
2  Northern  Ablution Facility Taps & Standpipes
3  Northern  Ablution Facility Taps & Standpipes
4  Northern                           Standpipes

                        SANITATION           REFUSE ELECTRIC_2 UNIREFCODE  \
0                      Pit Privies  C&SW contractor        Yes      I0005
1  Ablution Facility & Pit Privies  C&SW contractor        Yes      I0037
2                Ablution Facility  C&SW contractor        Yes      I0002
3                Ablution Facility  C&SW contractor        Yes      I0145
4                      Pit Privies  C&SW contractor        Yes      I0140

   EST_HHC NUSP_CAT   Shape__Area  Shape__Length
0     3250       B1  2.393433e+06   22801.689196
1      758       B1  2.894931e+05    4460.071000
2      627       B1  2.831338e+05    2289.974147
3     1508       B1  6.782034e+05    3987.698818
4      349       B1  1.393780e+05    1965.577993

In [28]:
# Print the shape of the dataset (number of rows and columns)
print("\nShape of the dataset:")
print(df.shape)

Shape of the dataset:
(566, 18)

In [29]:
#Print a summary of the dataset#
print("\nSummary of the dataset:")
print(df.describe(include='all'))

Summary of the dataset:
        OBJECTID NAME_OF_SE ALT_NAME            STREETNAME WARD_S PLANNING_U  \
count   566.0000        566      562                   566    566        566
unique       NaN        566      250                   503    152        230
top          NaN   Amatikwe           District Road No.403     83   Clermont
freq         NaN          1      305                     8     28         18
mean    283.5000        NaN      NaN                   NaN    NaN        NaN
std     163.5344        NaN      NaN                   NaN    NaN        NaN
min       1.0000        NaN      NaN                   NaN    NaN        NaN
25%     142.2500        NaN      NaN                   NaN    NaN        NaN
50%     283.5000        NaN      NaN                   NaN    NaN        NaN
75%     424.7500        NaN      NaN                   NaN    NaN        NaN
max     566.0000        NaN      NaN                   NaN    NaN        NaN

                 LATITUDE         LONGITUDE    REGION WATER_SUPP  \
count                 566               566       566        566
unique                561               561         3         49
top     -29,9026105096045  30,8352867394588  Southern        TBC
freq                    3                 3       273        137
mean                  NaN               NaN       NaN        NaN
std                   NaN               NaN       NaN        NaN
min                   NaN               NaN       NaN        NaN
25%                   NaN               NaN       NaN        NaN
50%                   NaN               NaN       NaN        NaN
75%                   NaN               NaN       NaN        NaN
max                   NaN               NaN       NaN        NaN

               SANITATION           REFUSE ELECTRIC_2 UNIREFCODE  \
count                 566              566        566        566
unique                 29                2         15        561
top     Ablution Facility  C&SW contractor        Yes      I0159
freq                  217              562        329          3
mean                  NaN              NaN        NaN        NaN
std                   NaN              NaN        NaN        NaN
min                   NaN              NaN        NaN        NaN
25%                   NaN              NaN        NaN        NaN
50%                   NaN              NaN        NaN        NaN
75%                   NaN              NaN        NaN        NaN
max                   NaN              NaN        NaN        NaN

             EST_HHC NUSP_CAT   Shape__Area  Shape__Length
count     566.000000      566  5.660000e+02     566.000000
unique           NaN       10           NaN            NaN
top              NaN       B1           NaN            NaN
freq             NaN      348           NaN            NaN
mean      525.971731      NaN  1.770229e+05    2347.667073
std       968.844647      NaN  4.949141e+05    2973.644491
min         4.000000      NaN  1.195089e+02      79.929137
25%        56.250000      NaN  5.714704e+03     521.062682
50%       177.000000      NaN  2.194467e+04    1168.496511
75%       608.250000      NaN  9.635537e+04    2891.325711
max     10011.000000      NaN  6.560964e+06   22801.689196

In [30]:
# Print the column names
print("\nColumn names:")
print(df.columns)

Column names:
Index(['OBJECTID', 'NAME_OF_SE', 'ALT_NAME', 'STREETNAME', 'WARD_S',
       'PLANNING_U', 'LATITUDE', 'LONGITUDE', 'REGION', 'WATER_SUPP',
       'SANITATION', 'REFUSE', 'ELECTRIC_2', 'UNIREFCODE', 'EST_HHC',
       'NUSP_CAT', 'Shape__Area', 'Shape__Length'],
      dtype='object')

In [31]:
# Identifying missing data#
print("\nMissing data in each column:")
print(df.isnull().sum())

Missing data in each column:
OBJECTID         0
NAME_OF_SE       0
ALT_NAME         4
STREETNAME       0
WARD_S           0
PLANNING_U       0
LATITUDE         0
LONGITUDE        0
REGION           0
WATER_SUPP       0
SANITATION       0
REFUSE           0
ELECTRIC_2       0
UNIREFCODE       0
EST_HHC          0
NUSP_CAT         0
Shape__Area      0
Shape__Length    0
dtype: int64

In [32]:
from sklearn.preprocessing import MinMaxScaler

In [33]:
# Ensure LATITUDE and LONGITUDE columns are strings before replacing commas and converting to float
df['LATITUDE'] = df['LATITUDE'].astype(str).str.replace(',', '.').astype(float)
df['LONGITUDE'] = df['LONGITUDE'].astype(str).str.replace(',', '.').astype(float)

# Normalize 'LATITUDE' and 'LONGITUDE' columns
scaler = MinMaxScaler()
df[['LATITUDE', 'LONGITUDE']] = scaler.fit_transform(df[['LATITUDE', 'LONGITUDE']])

print("\nFirst few rows of the dataset after normalization:")
print(df.head())

First few rows of the dataset after normalization:
   OBJECTID     NAME_OF_SE       ALT_NAME  \
0         1       Amatikwe
1         2  Congo Phase 2  Congo Phase 2
2         3  Africa Inanda         Africa
3         4        Namibia
4         5     Mshayazafe

                               STREETNAME  WARD_S  \
0                              MR93 North  56/108
1                        MR93 /MR93 North   55/57
2                  Curnick Ndlovu Highway      55
3  Curnick Ndlovu Highway / Matshana Road  108/44
4                            Sidudla Road      55

                      PLANNING_U  LATITUDE  LONGITUDE    REGION  \
0                       Amatikwe  0.768286   0.587262  Northern
1                   Inanda Congo  0.756247   0.619781  Northern
2        Ohlange-Africa / Stop 8  0.745458   0.613385  Northern
3                 Inanda Namibia  0.740700   0.587773  Northern
4  Mshayazafe / Ohlange - Africa  0.736482   0.610517  Northern

                            WATER_SUPP                       SANITATION  \
0                           Standpipes                      Pit Privies
1                           Standpipes  Ablution Facility & Pit Privies
2  Ablution Facility Taps & Standpipes                Ablution Facility
3  Ablution Facility Taps & Standpipes                Ablution Facility
4                           Standpipes                      Pit Privies

            REFUSE ELECTRIC_2 UNIREFCODE  EST_HHC NUSP_CAT   Shape__Area  \
0  C&SW contractor        Yes      I0005     3250       B1  2.393433e+06
1  C&SW contractor        Yes      I0037      758       B1  2.894931e+05
2  C&SW contractor        Yes      I0002      627       B1  2.831338e+05
3  C&SW contractor        Yes      I0145     1508       B1  6.782034e+05
4  C&SW contractor        Yes      I0140      349       B1  1.393780e+05

   Shape__Length
0   22801.689196
1    4460.071000
2    2289.974147
3    3987.698818
4    1965.577993